.convo-list-wrapper {
    height: calc(100vh - 60px);
}

.single-convo-active {
    background-color: rgb(47, 46, 160);
    color: white;
    display: block;
    border-top: 1px solid black;
}

.single-convo {
    background-color: rgb(204, 204, 204);
    color: white;
    display: block;
    border-top: 1px solid black;
}

.single-convo:first-child {
    border-top: none;
}

.single-convo:hover {
    background-color: gray;
    color: black;
    transition: 0.3s ease;

}

.convo-img {
    width: 40px;
    height: 40px;
}

.all-msg-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
}

.send-msg-inputs {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.show-all-msg {
    width: 100%;
    position: absolute;
    bottom: 50px
}

.single-msg {}

.send-msg-inputs input {
    border-radius: 10px;
    border-radius: 1px solid gray;
}

.send-msg-inputs input:focus {
    outline: none;
}