/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* color variables  */
:root {
    --main-bg: #98B4D4;
}

/* bg wrapper page styles */
.bg-wrapper {
    font-family: 'Raleway', sans-serif;
    background-color: var(--main-bg);
    background-position: fixed;
    min-height: 100vh;
    padding: 20px 0;
}